@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: 240 249 255;
    --color-fg: 7 89 133;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 0.5s;
  }
}